<div class="container public__form--submission abstract__form immana__form">
  <div class="row">
    <div class="col-lg-8 m-auto">
      <div class="grant-submission-page__container">

        <h2 class="title mb-3">{{ title }}</h2>
          <div class="desktop-wrapper">
            <div class="description__container">
              <h4 class="label mb-3">
                <strong>{{ "Project info"|t }}</strong>
              </h4>

              <div class="description mt-3">
                {{ description }}
              </div>
            </div>
            <div class="d-flex justify-content-center mt-5 immana grant__concept--link">
              {{ link }}
            </div>
          </div>

          <div class="mobile-wrapper">
            In order to fill out the form, please go to the desktop version of the site.
          </div>
      </div>
    </div>
  </div>
</div>


